{{define "header"}}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teknolojideki Fırsatlar">
    <meta name="keywords" content="teknoloji, bilgisayar, telefon, ucuz, indirim, ekran kartı">
    <meta name="author" content="Ibrahim Feas Taskin">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/style.css">
    <title>Tech Donanım</title>
</head>

<body>
    <nav class="mask">
        <a href="#">Mask with linear-gradient</a>
        <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <button class="search">Search</button>
        <button class="menu">Menu</button>
    </nav>
    {{end}}